body, html{
    height: 100%;
    background-color: #001f73;
    margin: 0%;
    cursor: url("assets/images/cursor_cat_normal_space.png"), auto; 
}

.container {
    overflow:auto;
    height: 100%;
}

.parallax {

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    position: relative;
}

.content {
    width: 90vw;
    height: 90vh;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.mobilecontent {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    position: relative;   
    text-align: center;
}

.fixedcontent {
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobileimg {
    max-width: 60vw;
    max-height: 60vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.desktopimg {
    max-width: 60vw;
    max-height: 60vh;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20vh;
}

.middle {
    top: 50vh;
}

.cathover {
    cursor: , auto; 
}
