$container-background: rgba($color: #002849, $alpha: 0.4);
$container-border: rgba($color: #008cff, $alpha: 1);

$max-screen-width: 100rem;

html {

    min-height: 100%;
    body {
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);


        h1 {
            text-align: center;
            color: blanchedalmond;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .heading{
                flex-shrink: 1; 
                max-width: $max-screen-width;
                width: 90vw;
                height: 40vh;
                object-fit: cover;
                opacity: 90%;
                border-radius: 0.9rem;
            }

            .programs{
                color: blanchedalmond;
                text-align: center;
                padding: 1rem 2rem 0rem 2rem;
            }

            table {
                background-color: grey;
                border-radius: 2rem;
            }

            .container {
                border: solid $container-border;
                border-radius: 1rem;
                background: $container-background;
                display: flex;
                justify-content: center;
                margin-top: 1rem;
            }

            .navigation {
                min-width: 90vw;
                max-width: $max-screen-width;
            }
        }

    }

}
