$container-background-opaque: #002849;
$container-background: #002849;
$container-border: #008cff;

$max-screen-width: 100rem;

$button-backgrond: #008cff;
$heading-background: #001f73;

$background-radient: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

$white-gradient: linear-gradient(#38495a, white);

$radius: 0.5rem;

$font-family: Minnie, sans-serif;


@mixin textbackground {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}