$silver: #38495a;

$heading-background: #001f73;
$dark-blue: #002849;
$light-blue: #008cff;

$max-screen-width: 100rem;

$background-radient: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

$white-gradient: linear-gradient(#38495a, white);

$radius: 0.5rem;

@mixin textbackground($from, $to) {
    background: -webkit-linear-gradient($from, $to);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@font-face {
    font-family: lobster;
    src: url("assets/fonts/Lobster-Regular.ttf") format("truetype");
}

$font-family: lobster;