$container-background-opaque: rgba($color: #002849, $alpha: 0.4);
$container-background: #002849;
$container-border: rgba($color: #008cff, $alpha: 1);

$max-screen-width: 100rem;

$button-backgrond: $container-border;
$heading-background: rgba($color: #001f73, $alpha: 0.9);

$radius: 0.5rem