@import "/src/variables.scss";

.header-container {
    display: flex;
    justify-content: center;
    background-color: $heading-background;
    border-radius: $radius;
    margin-bottom: 1rem;

    .header {
        max-width: 1000px;
        width: 90vw;
        height: 18rem;
        object-fit: cover;
        border-radius: 0.9rem;
    }
}