<div *ngIf="!isDesktop()" class="container" cdkScrollable>
  <div class="parallax" [style.backgroundImage]="'url('+ backgroundImgUrl +')'">
    <div class="fixedcontent">
      <img src="assets/images/title_mobile.png" />
      <div class="middle">
        <div title="Add to Calendar" class="addeventatc" data-dropdown-x="right" data-dropdown-y="up">
          Add to Calendar
          <span class="start">07/02/2022 04:00 PM</span>
          <span class="end">07/03/2022 04:00 AM</span>
          <span class="timezone">Europe/Paris</span>
          <span class="title">Julo & isör Wedding</span>
          <span class="description">Osszehazasodunk, gyere el</span>
          <span class="location">Nádas Tó Park Hotelsuperior, Vasad, Monori út 100, 2211 Magyarország</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isDesktop()" class="container" cdkScrollable>
  <div class="parallax" [style.backgroundImage]="'url('+ backgroundImgUrl +')'">
    <div class="content">
      <img [style.opacity]="calculateOpacity(0)" src="assets/images/title.png" />
    </div>
  </div>
  <div class="parallax" [style.backgroundImage]="'url('+ backgroundImgUrl +')'">
    <div class="content">
      <img [style.opacity]="calculateOpacity(1)" src="assets/images/save.png" />
    </div>
  </div>
  <div class="parallax" [style.backgroundImage]="'url('+ backgroundImgUrl +')'">
    <div class="content">
      <img [style.opacity]="calculateOpacity(2)" src="assets/images/the.png" />
    </div>
  </div>
  <div class="parallax" [style.backgroundImage]="'url('+ backgroundImgUrl +')'">
    <div class="content">
      <img [style.opacity]="calculateOpacity(3)" src="assets/images/date.png" />
    </div>
  </div>
  <div class="parallax" [style.backgroundImage]="'url('+ backgroundImgUrl +')'">
    <div class="content">
      <img [style.opacity]="calculateOpacity(4)" src="assets/images/date_num.png" />

      <div [style.opacity]="calculateOpacity(4)" class="middle">
        <div title="Add to Calendar" class="addeventatc" data-dropdown-x="right" data-dropdown-y="up">
          Add to Calendar
          <span class="start">07/02/2022 04:00 PM</span>
          <span class="end">07/03/2022 04:00 AM</span>
          <span class="timezone">Europe/Paris</span>
          <span class="title">Julo & isör Wedding</span>
          <span class="description">Osszehazasodunk, gyere el</span>
          <span class="location">Nádas Tó Park Hotelsuperior, Vasad, Monori út 100, 2211 Magyarország</span>
        </div>
      </div>
    </div>
  </div>
</div>