@import "/src/variables.scss";

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    position: relative;
    
    .col{
        box-sizing: border-box;
        padding: 0;
        p{
            width: 100%;
        }
    }

    :nth-child(1){
        width: 3rem;
        margin-right: 1rem;
        flex-shrink: 0;
    }

    :nth-child(3){
        width: 90%;
        flex-wrap: nowrap;
        p {
            font-weight: normal;
        }
    }

    :nth-child(4){
        width: 3rem;
        flex-shrink: 0;
    }

    .tooltip {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .info-img{
            z-index: 0;
            position: relative;
            margin-right: 0;
            img {
                width: 50%;
                position: absolute;
                left: 1.5rem;
                top: 0;
            }
            .info-img2{
                display: none;
                z-index: 2;
            }

            &:hover{
                img {
                    visibility: hidden;
                }

                .info-img2{
                    visibility: visible;
                    display: inline;
                }
            }
        }

        .tooltiptext {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            min-width: 60%;
            max-width: 60%;
            min-height: 2rem;
            top: -0.5rem;
            right: 3rem;
            transform-origin: 105% 0.5rem;
            background: $background-radient;
            border: solid 1px lighten($silver,30);
            color: lighten($silver,40);
            border-radius: 10px;
            transform: scale(0);
            animation-fill-mode: forwards;
            z-index: 3;
            
            p{
                font-weight: normal;
                margin: 0 1.5rem 0 0;
            }

            ::after {
                content: "";
                display: block;
                width: 0;
                position: absolute;
                top: 0.5rem;
                right: -1.1rem;
                border-radius: 1rem;
                padding: 0.1rem;
                background: $background-radient;
                border: solid 1px lighten($silver,30);
            }

            ::before {
                content: "";
                display: block;
                width: 0;
                position: absolute;
                top: 0.25rem;
                right: -0.625rem;
                border-radius: 1rem;
                padding: 0.2rem;
                background: $background-radient;
                border: solid 1px lighten($silver,30);
            }
         }

         &:hover {
             .tooltiptext{
                animation: expand-bounce 0.25s;
                transform: scale(1);
             }
             &::after{
                 .tooltiptext {
                    animation: itsybitsy 1s;
                 }
             }
         }

    }
}

.vertical {
    border-right: solid black 1px;
    align-self: stretch;
}

@keyframes expand-bounce {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
}
  
@keyframes itsybitsy {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
  