
.program-table {
    width: 80%;
    //border: solid black 1px;
    //border-radius: 1rem;

    .prog {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
}

app-progrow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}