@import '/src/variables.scss';

.program-table {
    width: 95%;
    //border: solid black 1px;
    //border-radius: 1rem;

    .prog {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    :nth-child(even) {
        background-color: lighten($silver,30);
        border-radius: 0.2rem;
    }
}

app-progrow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

app-map {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}