<div class="container content">
    <h1>{{inviteContent?.greeting}} {{invitee?.name}}!</h1>
    
    <div class="container" style="order: 1;">
        <p *ngFor="let c of inviteContent?.content" class="nomargin">{{c}}</p>
    </div>

    <div *ngIf="alreadyResponded()" class="container" style="order: 2;">
        <p *ngFor="let p of respondedContent?.content" class="nomargin">{{p}}</p>
    </div>
    <a *ngIf="!alreadyResponded() && validType()" class="btn" style="order: 3;" routerLink="/response/{{hash}}">{{respondedContent?.greeting}}</a> 
    
    <p *ngFor="let p of giftContent?.content" class="nomargin" style="order:4">{{p}}</p>
    
    <div *ngIf="validType()" class="container" style="order: 5;">
        <p *ngFor="let p of calendarContent?.content" class="nomargin">{{p}}</p>
        <br/>
        <div title="Naptárba vele!"  class="addeventatc" data-dropdown-x="right" data-dropdown-y="up">
            Naptárba vele!
            <span class="start">07/02/2022 05:00 PM</span>
            <span class="end">07/03/2022 04:00 AM</span>
            <span class="timezone">Europe/Paris</span>
            <span class="title">Julo & isör Wedding</span>
            <span class="description">{{calendarContent?.greeting}}</span>
            <span class="location">Nádas Tó Park Hotelsuperior, Vasad, Monori út 100, 2211 Magyarország</span>
        </div>
    </div>
</div>